.div-1 {
    text-align: center;
}

.img-1 {
    border-radius: 20px;
}
#body-font {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
    
 
.div-2 {
    margin-left: 31%;
}
.hr-1 {
    width: 56%;
    margin-left: 0%;
}